* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url('img/bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    width: 346px;
    border-radius: 5px;
    background: url('img/wrapper.jpg');
    box-shadow: 0px 0px 10px #000;
}

.result {
    margin: 20px 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 0 12px #bd7a50 inset;
}

.area {
    border: 1px solid #deb193;
    margin: 20px;
    width: 306px;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0 0 15px #f2ceb6;
}

.area-item {
    width: 100px;
    height: 100px;
    border: 1px solid #deb193;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.box-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    width: 200px;
    height: 35px;
    cursor: pointer;
    border: 0;
    background: #7b3b10;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
    outline: none;
}

button:hover {
    box-shadow: 0 0 5px #fff;
}