p {
	font-size: 18px;
	text-align: justify;
	text-indent: 20px;
}

table {
	font-size: 18px;
	text-align: justify;
}

th {
	padding: 10px;
}

td {
	padding: 10px;
}

.clear-td {
	text-align: left;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

ul li {
	font-size: 18px;
}

ol li {
	font-size: 18px;
}

.nav-img a img {
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}

.navbar-inverse .navbar-brand {
	color: #0d73d7;
}

.navbar-inverse .navbar-brand:hover {
	color: #0d73d7;
}

a {
	color: #fff;
}

a:hover {
	color: #0d73d7;
	text-decoration: none;
}

.active {
	color: #0d73d7;
}

.navbar-menu {
	margin-top: 12px;
}

.navbar-menu li {
	display: inline;
	color: #fff;
	font-size: 18px;
	margin-left: 10px;
}

.text-center {
	text-indent: 0;
}

.text-sign {
	font-size: 14px;
	font-weight: bold;
	color: #0da5f1;
	text-align: center;
	text-indent: 0; 
}

.main-hr {
	border-top: 1px solid #999;
}

.footer-text p {
	margin-bottom: 20px;
	font-size: 15px;
	text-indent: 0;
}

.head-img p {
	text-align: center;
	text-indent: 0px;
}

.head-img img {
	margin-top: 80px;
	margin-bottom: 20px;
}

.head-text h1 {
	margin-top: 80px;
	text-align: center;
}

.scrollup {
	width: 40px;
	height: 40px;
	opacity: 0.5;
	position: fixed;
	bottom: 50px;
	right: 70px;
	display: none;
	text-indent: -9999px;
	background: url('../img/icon.png') no-repeat;
}