p {
	font-size: 15px;
	font-family: Arial, serif;
	color: #444;
	font-weight: 400;
}

/* Section Head */

.head {
	margin-top: 12px;
}

.head-logo {
	margin-top: 8px;
}

.head-site {
	font-size: 13px;
	color: #4c4c4c;
	margin-top: 17px;
	margin-left: 60px;	
}

.head-phone {
	font-size: 17px;
	color: #000;
	margin-top: 15px;
	margin-bottom: 0;
}

.head-call {
	font-size: 13px;
	color: #999;
}

.head-btn {
	width: 168px;
	height: 44px;
	background-color: #fff;
	border: 1px solid #4C8FE6;
	font-size: 15px;
	color: #036ad0;
	margin-top: 12px;
}

.head-btn:hover {
	color: #fff;
	background-color: #4C8FE6;
}

.head-hr {
	border: 2px solid #3bb5c7;
	margin-top: 10px;
	margin-bottom: 26px;
}

/* Section Nav */

.nav-menu {
	padding-left: 15px;
	word-spacing: 104px;
	margin-bottom: 20px;
}

.nav-menu li {
	display: inline;
}

.nav-menu li a {
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
}

.nav-menu li a:hover {
	text-decoration: none;
	color: #4C8FE6;
}

.fa-chevron-down {
	font-size: 8px;
	margin-left: 5px;
    vertical-align: middle;
    margin-top: -3px;
}

/* Section Slider */

.slick-dots {
	bottom: 18px;
}

.slick-dots li {
	margin: 0;
}

.slick-dots li button:before {
	color: #fff;
	opacity: 1;
}

.slide-one {
	background-image: url(../img/slide1.jpg);
	height: 592px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


.slide-two {
	background-image: url(../img/slide2.jpg);
	height: 592px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide-three {
	background-image: url(../img/slide3.jpg);
	height: 592px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide-one-box {
	background-color: rgba(255,255,255,0.9);
	width: 647px;
	margin-top: 95px;
	margin-left: 17px;
	position: absolute;
}

.slide-hr {
	border: 3px solid #05b8f4;
	background-color: #05b8f4;
	width: 43px;
	margin-bottom: 0px;
    position: relative;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 33px;
    margin-right: 27px;
    top: 66px;
}

.slider-head {
	font-size: 30px;
    text-transform: uppercase;
    padding-top: 52px;
    padding-left: 103px;
    margin-bottom: 0;
    margin-top: 0;
}

.slider-text {
	margin-top: 25px;
    padding-left: 103px;
	margin-bottom: 0;
}

.slider-btn {
	color: #fff;
	width: 205px;
	height: 44px;
	background-color: #036ad0;
	border: 1px solid #036ad0;
   	margin-left: 103px;
	margin-top: 36px;
	margin-bottom: 50px;
}

.slider-btn-two {
	margin-top: 83px;
}

.slider-btn-three {
	margin-top: 30px;
}

.slider-btn:hover {
	color: #036ad0;
	background-color: rgba(255,255,255,0.2);
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

/* Section Advantages */

#advantages {
	background-color: #ebf5fe;
}

.advantages-list img {
	height: 79px;
}

.advantages-list {
	margin-top: 69px;
}

.advantages-list p {
	margin-top: 25px;
	margin-bottom: 47px;
}

.advantages-img-one {
	padding-right: 50px;
}

.advantages-img-three {
	padding-right: 15px;
}

.advantages-img-four {
	padding-right: 33px;
}

/* Section Video */

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 538px;
    width: 100%;
}
 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
 
.overlay {
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 538px;
    z-index: 100;
}
 
.overlay h1 {
    text-align: left;
    text-transform: uppercase;
    color:#fff;
    font-size: 30px;
    margin-top: 187px;
    margin-left: 15px;
	letter-spacing: 3px;
}

.overlay p {
	color: #fff;
	margin-top: 30px;
	margin-left: 15px;
}

@media (max-width: 960px) {
    .fullscreen-bg {
        background-image: url(../img/video.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
 
    .fullscreen-bg__video {
        display: none;
    }
}

/* Section Services */

.services-hr {
	border: 5px solid #3bb5c7;
	margin-top: 31px;
}

.services-header {
	margin-top: 75px;
}

.services-head {
	font-size: 30px;
}

.services-main-left {
	padding-left: 0;
}

.services-main-right {
	padding-right: 0;
}

.services-main-right img {
	margin-right: 0;
}

.services-main-top {
	margin-top: 45px;
}

.services-main-top p {
	margin-top: 13px;
}

.services-main-bottom {
	margin-top: 50px;
}

.services-main-bottom p {
	margin-top: 13px;
}


.services-main-head {
	font-size: 16px;
	color: #49c8b7;
	margin-top: 27px;
}

.services-main-middle p,
.services-main-middle h2 {
	margin-left: 26px;
}

.services-main-right p,
.services-main-right h2 {
	margin-left: 67px;
}

.consultation {
	background-image: url(../img/consultation.png);
	background-repeat: no-repeat;
	margin-top: 40px;
	-webkit-background-size: cover;
	background-size: cover;
}

.consultation-btn {
	color: #fff;
	width: 205px;
	height: 44px;
	background-color: #036ad0;
	border: 1px solid #036ad0;
	margin-left: 47px;
	margin-top: 27px;
	margin-bottom: 21px;
}

.consultation h1 {
	color: #fff;
	margin-top: 46px;
	margin-left: 54px;
}

.consultation p {
	color: #fff;
	margin-top: 16px;
	margin-left: 54px;
}

.consultation-btn:hover {
	background-color: rgba(255,255,255,0);
}

/* Section Parallax */

#parallax {
	height: 568px;
	margin-top: 40px;
}

.parallax-head {
	text-transform: uppercase;
	text-align: right;
	margin-top: 221px;
	font-size: 30px;
	letter-spacing: 3px;
}

.arrow-up {
	float: right;
}

.arrow-up i {
	font-size: 30px;
	color: #46cab6;
	border: 2px solid #46cab6;
	width: 55px;
    height: 55px;
	border-radius: 50%;
	padding-left: 19px;
    padding-top: 10px;
    background-color: #fff;
    margin-right: 49px;
    margin-top: 173px;
}

.arrow-up i:hover {
	color: #fff;
	background-color: #46cab6;
	cursor: pointer;
}

/* Section Form */

.form-main {
	margin-top: 38px;
}

.form-main-text h1 {
	margin-top: 87px;
	text-transform: uppercase;
}

.form-main-text p {
	margin-top: 31px;
}

.form-main-box {
	box-shadow: 0px 5px 12.35px 0.65px rgba(79, 136, 191, 0.3);
	width: 473px;
	float: right;
}

#send input {
	margin-top: 14px;
	margin-left: 64px;
}

#send input[type="text"],
#send input[type="phone"] {
	border: 1px solid #d7d7d7;
	width: 355px;
	height: 46px;
	padding-left: 18px;
}

#send input[type="checkbox"] {
	border: 1px solid #1d64aa;
	width: 20px;
	height: 20px;
	font-size: 13px;
	vertical-align: bottom;
	margin-top: 18px;
}

#send #yourName {
	margin-top: 54px;
}

.form-btn {
	color: #fff;
	width: 205px;
	height: 44px;
	background-color: #036ad0;
	border: 1px solid #036ad0;
	margin-left: 65px;
	margin-top: 41px;
	margin-bottom: 59px;
}

.form-btn:hover {
	color: #036ad0;
	background-color: #fff;
}

/* Section Footer */

#footer {
	margin-top: 48px;
	background-color: #1d64aa;
}

.footer-main {
	margin-top: 42px;
}

.footer-main p {
	color: #fff;
	font-size: 24px;
}

.footer-main h3 {
	margin-top: 0;
	color: #fff;
	font-size: 18px;
}

.footer-main ul {
	list-style: none;
	padding-left: 0;
	margin-top: 31px;
}

.footer-main ul li {
	margin-bottom: 22px;
}

.footer-main ul li a {
	color: rgba(255,255,255,0.5);
	font-size: 15px;
}

.footer-main-social ul {
	margin-top: 0;
	word-spacing: 31px;
}

.footer-main-social ul li {
	margin-bottom: 0;
	display: inline;
}

.footer-main-social ul li a {
	color: #fff;
}

.footer-hr {
	border: 2px solid rgba(149,149,149,0.3);
	margin-bottom: 27px;
}

.footer-bottom {
	margin-bottom: 26px;
}

.footer-bottom p {
	color: #a4c4e4;
}

.footer-bottom a {
	color: #fff;
	text-decoration: underline;
}

.footer-bottom-white {
	color: #fff;
}

/* Media */



@media (min-width: 0px) and (max-width: 480px) {

  .head-center p, .head-phone, .head-call {
  	text-align: center;
  }

  .head-site {
  	margin-left: 0;
  	text-align: center;
  }

  .text-right {
  	text-align: center;
  	padding-left: 0;
  	padding-right: 0;
  }

  .nav-menu {
  	text-align: center;
  }
	
  .nav-menu li {
  	display: block;
  }

  .nav-menu li:nth-child(1) {
  	margin-right: 10px;
  }

  .slide-one-box {
  	width: 324px;
  }

  .slider-head {
  	padding-left: 30px;
  	padding-right: 20px;
  	font-size: 22px;
  }

  .slider-text {
  	padding-left: 30px;
  	padding-right: 20px;
  }

  .slider-btn {
  	margin-left: 30px;
  }

  .slide-hr {
  	opacity: 0;
  }

  .services-header {
  	margin-top: 0;
  }

  .services-head {
  	font-size: 24px;
  	text-align: center;
  }

  .services-header p {
  	text-align: justify;
  }

  .services-main-left {
  	padding-left: 15px;
  }

  .advantages-list p {
  	text-align: center;
  	margin-bottom: 0;
  }

  .advantages-list p:last-child {
  	margin-bottom: 47px;
  }

  .center-block {
  	display: inline;
  	margin-right: 0;
  	margin-left: 0;
  }

  .services-main-middle p, .services-main-middle h2 {
  	margin-left: 0;
  }

  .services-main-right p, .services-main-right h2 {
  	margin-left: 0;
  }

  .consultation h1 {
  	margin-left: 20px;
  	font-size: 24px;
  }

  .consultation p {
  	margin-left: 20px;
  }

  .consultation-btn {
  	margin-left: 20px;
  }

  .parallax-head {
  	font-size: 24px;
  	text-align: center;
  }

  .arrow-up i {
  	margin-right: 150px;
  	margin-top: 100px;
  }

  .form-main-text h1 {
  	font-size: 24px;
  	text-align: center;
  }

  .form-main-text p {
  	text-align: justify;
  }

  .form-main-box {
  	width: 330px;
  	float: none;
  	margin-left: auto;
  	margin-right: auto;
  }

  #send input {
  	margin-left: 20px;
  }

  #send input[type="text"], #send input[type="phone"] {
  	width: 290px;
  }

  label {
  	font-size: 11px;
  }

  .footer-bottom p {
  	text-align: center;
  }

  .footer-main p {
  	text-align: center;
  }

  .footer-main h3 {
  	text-align: center;
  	margin-top: 40px;
  }

  .footer-main ul {
  	text-align: center;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .head-center p, .head-phone, .head-call {
  	text-align: center;
  }

  .head-site {
  	margin-left: 0;
  	text-align: center;
  }

  .text-right {
  	text-align: center;
  	padding-left: 0;
  	padding-right: 0;
  }

  .nav-menu {
  	text-align: center;
  }
	
  .nav-menu li {
  	display: block;
  }

  .nav-menu li:nth-child(1) {
  	margin-right: 10px;
  }

  .slide-one-box {
  	width: 445px;
  }

  .slider-head {
  	font-size: 24px;
  }

  .advantages-list p {
  	text-align: center;
  	margin-bottom: 0;
  }

  .advantages-list p:last-child {
  	margin-bottom: 47px;
  }

  .services-header p {
  	text-align: justify;
  }

  .services-main-left {
  	padding-left: 15px;
  }

  .center-block {
  	display: inline;
  	margin-right: 0;
  	margin-left: 0;
  }

  .services-main-middle p, .services-main-middle h2 {
  	margin-left: 0;
  }

  .services-main-right p, .services-main-right h2 {
  	margin-left: 0;
  }

  .arrow-up i {
  	margin-top: 138px;
  }

  .form-main-text h1 {
  	text-align: center;
  }

  .form-main-text p {
  	text-align: justify;
  }

  .form-main-box {
  	width: 448px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-bottom p {
  	text-align: center;
  }

  .footer-main p {
  	text-align: center;
  }

  .footer-main h3 {
  	text-align: center;
  	margin-top: 40px;
  }

  .footer-main ul {
  	text-align: center;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

	.head-site {
		margin-left: 78px;
	}

	.nav-menu {
		word-spacing: 33px;
	}

	.advantages-list p {
		text-align: center;
		margin-bottom: 0;
	}

	.advantages-list p:last-child {
		margin-bottom: 47px;
	}

	.services-header p {
  		text-align: justify;
  	}

  	.services-main-left {
  		padding-left: 15px;
  	}

  	.center-block {
  		display: inline;
  		margin-right: 0;
  		margin-left: 0;
  	}

  	.services-main-middle p, .services-main-middle h2 {
  		margin-left: 0;
  	}

  	.services-main-right p, .services-main-right h2 {
  		margin-left: 0;
  	}

  	.form-main-text h1 {
  		text-align: center;
  	}

  	.form-main-text p {
  		text-align: justify;
  	}

  	.form-main-box {
    	float: none;
    	margin-left: auto;
    	margin-right: auto;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .nav-menu {
    word-spacing: 70px;
  }

  .img-responsive {
    max-width: none;
  }

  .services-main-middle p, .services-main-middle h2 {
    margin-left: 0;
  }

  .services-main-right p, .services-main-right h2 {
    margin-left: 0;
  }

}